html {
  font-size: 62.5%;
  height: 100%;
}

body {
	color: #000;
	font: 1.2em/1.4em verdana, arial, tahoma, sans-serif;
}

#main {
 	margin: 0 auto;
	width: 960px;
}

.demo li {
  display: inline;
  float: left;
  margin: 0 20px 10px  0;
}

.demo li a {
  width: 300px;
  height: 200px;
  display: block;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  line-height: 2;
}